/* .splashImageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.splashImage {
    width: 90%;
    height: 50%;
    margin-top: 100px;
    border-radius: 10px;
    object-fit: cover;
} */
