.booking-spot-pic{
    height: 200px;
    width: 350px;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;

}

.booking-cont{
    width: 1440px;
    display: flex;
    flex-direction: column;
    margin: auto;
    min-height: 1000px;
    margin-top: 30px;
}

.booking-wrapper{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 10px;

}
.single-trip-wrap{
     box-shadow: 0px 2px 4px rgb(0 0 0 / 18%);
     border-radius: 12px;
     padding: 10px;
}

.trip-head{

    border-bottom: 1px solid #DDDDDD;
}
.trip-head>h1{
    font-size: 2em;
}

.trip-contents{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.trip-cont-btm{
    display: flex;
    flex-direction: column;

}

.trip-span{

}
.arrowright{
    font-size: 1.2em;
}

.cncltrip{

}

.no-bookings{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 150px;
}
