.editBookingButton {
    background-color: white;
    border: 1px solid #DBDBDB;
    font-size: 14px;
    width: 120px;
    height: 40px;
    border-radius: 100px;
    font-family: Circular -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
}

.editBookingButton:hover {
	/* background-color: rgb(255, 56, 92); */
	cursor: pointer;
}

.editBookingButton:active {
	transform: scale(0.95);
}
