.cs-container{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 800px;
    height: fit-content;
    margin: 35px auto;
     border: 1px solid #B0B0B0;
    border-radius: 8px;
    padding: 24px;
}

.cs-header{
    font-family: "airbnbMed";
    font-size: 1.4em;
    border-bottom: 1px solid #B0B0B0;
    margin-left: -24px;
    margin-right: -24px;
}

.cs-header>p{
    margin-left: 24px;
    /* margin-top: 0px; */
    margin-bottom: 10px;
}

.cs-input-field{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #B0B0B0;
    /* margin: 20px 0px; */
    padding: 15px;
}

.cs-input-field>h3{
    color: #717171;
    font-size: 1em;
    margin-left: 2px
}
.cs-input-field>input{
     border: none;
    outline: none;
    background-color: white;
}

.cs-input-field>textarea{
    border: 1px solid #B0B0B0;
    border-radius: 3px;
    resize: none;
    padding: 8px;
}

.cs-input-field>select{
    width: 150px;
    border: 1px solid #B0B0B0;
    border-radius: 5px;
}

.err-box{
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    gap: 5px;
    margin: 10px 0px;
}

.loc{
    gap: 10px;
    /* flex-direction: row; */
    /* align-items: center; */

}



.pics{
    gap: 5px;
}

.pics>input{
    border: 1px solid #B0B0B0;
    border-radius: 5px;
    padding-left: 5px;
    max-width: 400px;
}

.cs-input-field>select:focus{
    outline: none;
    border: 1px solid #FE385C;
}

/* .loc>input{
    color: black;
} */

.cs-input-field>p{
     color: #717171;
    font-size: 1em;
    margin-left: 2px;
}

.es>input{
    margin-top: -10px;
    margin-bottom: 10px;
}

.ep-btns{
    display: flex;
    gap: 10px;
}

.ep{
    width: 200px;
}

.loc>input{
    border: 1px solid #B0B0B0;
    padding-left: 3px;
    width: 390px;
    border-radius: 3px;
}
