.createAlbumButton {
  border: none;
  background-color: rgb(227, 28, 95);
  color: white;
  font-size: 15px;
  width: 200px;
  height: 45px;
  border-radius: 10px;
}

.createAlbumButton:hover {
  background-color: rgb(255, 56, 92);
  cursor: pointer;
}